* { /* 將邊框預設值歸零 */
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px; /* 設定根元素字體大小，原值16px */
}

header{ /* 導覽列設置 */
    background-color: rgb(0, 0, 0);
    height: 150px;
    width:100%;
    position: sticky;
    top: 0; /* 注意需設定 top, left, right 或 bottom，這樣才能在捲動後固定在指定的位置 */
}

h1 {
    color: rgb(255, 255, 255);
    background-image: url(../Images/logo.png); /* LOGO圖 */
    background-size: contain; /* 背景圖片完全顯示在容器內，不會被裁切 */
    background-repeat: no-repeat; /* 背景圖片不重複顯示 */
    background-position: center; /* 將背景圖片在水平方向上左對齊，並垂直居中 */
    position: absolute;
    top: 0; /* LOGO位置調整 */
    line-height: 150px; /* LOGO行高調整 */
    width: 33vw; /* LOGO寬度 */
    text-indent: -9999px; /* 將標題文字移走，只留LOGO */
}

.top-level-menu { /* 第一層導覽選單的 CSS 選擇器 */
    position: absolute;
    right: 5vw;
    top: 0;
    color: white;
    line-height: 150px; /* 設置行高 */
}
  
.top-level-menu li { /* 首頁導覽列外觀及排版設置 */
    display: inline;
    margin-right: 4vw; /* 設置文字間隔 */
    position: relative; /* 設置導覽列第一層下拉式選單的框框位置 */
    line-height: 20px; /* 設置導覽列第一層下拉式選單的框框行高 */
    font-size: 1.5rem;
}

.top-level-menu a { /* 首頁導覽列第二層選單調整 */
    text-decoration: none; /* 移除連結的下劃線樣式，使其在瀏覽器中不顯示下劃線 */
    display: inline-block;
}

.top-level-menu a:hover{ /* 移到首頁導覽列選單時出現底線 */
    text-decoration: underline;
    color: brown;
}

.top-level-menu li:hover > .sub-menu { /*這是一個樣式規則，當滑鼠懸停在 <li> 元素上時，將顯示相鄰的 .sub-menu 元素。 */
    display: block;
}
  
nav .sub-menu { /* 第二層選單項目的 CSS 選擇器 */
    display: none;
    position: absolute;
    width: 25rem; /* 設置寬度讓文字保持在同一行 */
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #ccc;
}
  
nav .sub-menu li a {
    padding: 10px;
    color: white;
}

.bar-menu a { /* 分頁導覽列連結設置 */
    position: absolute;
    right: 5vw;
    top: 0;
    color: white;
    line-height: 150px; /* 設置行高 */
    font-size: 2rem;
    max-width: 100%; /* 設置最大寬度為100% */
    height: auto;
}

.menu {
    display: none;
    left: 5rem;
    font-size: 10rem;
}

/* 響應式設計語法(my screen is 2505px) */
/* Desktops */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    html {
        font-size: 6px;
    }
}

/* 平板裝置 */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    html {
        font-size: 4px;
    }

    header {
        height: 120px;
    }

    header h1 {
        left: 50%; /* 將背景圖置中step 1 */
        transform: translateX(-50%); /* 將背景圖置中step 2 */
        height: 120px;
    }

    .menu {
        display: block;
        background-color: transparent;
        color: white;
        position: absolute;
        top: 3rem;
        border: none;
        cursor: pointer;
    }

    .top-level-menu {
        display: none; /* 隱藏第一層選單 */
        /* 第一層選單樣式調整 */
        background-color: rgba(0, 0, 0, 0.8); 
        top: 100%;
        left: 0;
        padding: 5px 0 5px 30px;
        width: 130px;
    }

    .top-level-menu li { /* 第一層選單樣式調整 */
        padding: 15px 0;
        font-size: 2rem;    
    }

    .top-level-menu.show {
        display: block; /* 點擊.menu按鈕後顯示第一層選單 */
    }

    .top-level-menu > li {
        display: block; /* 垂直排列 */
    }

    .top-level-menu .sub-menu {
        display: none;
        width: 200px;
        top: 0; /* 讓子選單頂部與父選單對齊 */
        left: 100%; /* 將子選單顯示在第一層選單的右邊 */
    }

    .top-level-menu .sub-menu li a {
        display: inline-block;
        width: 150px; /* 或者根据需要设置固定宽度 */
        white-space: nowrap; /* 防止导航列名称换行 */
    }

    .bar-menu a { /* 分頁導覽列連結設置 */
        line-height: 120px; /* 設置行高 */    
    }
}

/* 手機裝置 */
@media screen and (max-width: 480px) {
    html {
        font-size: 2px;
    }

    header {
        height: 50px;
    }

    header h1 {
        left: 50%; /* 將背景圖置中step 1 */
        transform: translateX(-50%); /* 將背景圖置中step 2 */
        height: 50px;
        width: 50vw;
    }

    .menu {
        display: block;
        background-color: transparent;
        color: white;
        position: absolute;
        font-size: 6rem;
        top: 2.5rem;
        border: none;
        cursor: pointer;
    }

    .top-level-menu {
        display: none; /* 隱藏第一層選單 */
        /* 第一層選單樣式調整 */
        background-color: rgba(0, 0, 0, 0.8); 
        top: 100%;
        left: 0;
        padding: 2px 0 2px 10px;
        width: 100px;
    }

    .top-level-menu li { /* 第一層選單樣式調整 */
        padding: 1px 0;
        font-size: 1.5rem;
    }

    .top-level-menu li a { 
        display: inline-block;
        width: auto; /* 或者根据需要设置固定宽度 */
        white-space: nowrap; /* 防止导航列名称换行 */
    }

    .top-level-menu.show {
        display: block;
    }

    .top-level-menu > li {
        display: block; /* 垂直排列 */
    }

    .top-level-menu .sub-menu {
        display: none;
        width: 150px;
        top: 0; /* 讓子選單頂部與父選單對齊 */
        left: 100%; /* 將子選單顯示在第一層選單的右邊 */
    }

    .top-level-menu .sub-menu li a {
        display: inline-block;
        width: 100px; /* 或者根据需要设置固定宽度 */
        white-space: nowrap; /* 防止导航列名称换行 */
    }

    .bar-menu a { /* 分頁導覽列連結設置 */
        line-height: 50px; /* 設置行高 */
    }
}