* { /* 將邊框預設值歸零 */
    padding: 0;
    margin: 0;
}

h2  {
    font-size: 28px; /* 原值24px */
    color:rgb(0, 48, 204);
}

h3 { 
    margin: 15px 0px 5px;
    font-size: 22px; /* 原值18.7px */
}

.mark {
    background-color: rgb(190, 190, 190);
    border: 1px black solid;
    padding: 1px 4px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
    padding-right: 1000px; /* 內文長度過長後換行 */
}

article {
    margin-bottom: 10px;
    font-size: 20px;
    text-indent: 2em; /* 縮排 */
    padding-right: 1000px; /* 內文長度過長後換行 */
}

img {
    max-width: 100%; /* 圖片的最大寬度設為其容器的100% */
    height: auto; /* 高度自動按比例縮放 */
    margin-bottom: 10px; /* 添加底部間距 */
    padding: 5px; /* 添加內邊距 */
}

.wordred {
    color: red;
}

.wordgreen {
    color: green;
}

.Contractiontwo {
    padding-left: 25px;
}

.Contractionfour {
    padding-left: 30px;
}

.content {
    background-color: antiquewhite;
    height: 80vh; /* 確保 .indexmain 元素占滿整個視窗95%高度 */
    background-image: url(Images/Home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.content h2 {
    font-size: 60px;
    color:rgb(33, 30, 210);
}

.content h3 {
    font-size: 30px;
    color: rgb(51, 96, 192);
}

.statement.one, .statement.two {
    text-align: center; /* 將文字水平置中 */
}

.Update.record { /* 首頁更新紀錄框 */
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    position: absolute; /* 使用絕對定位 */
    padding: 10px;
    margin-bottom: 20px;
    left: 20px; /* 距離左邊 20px */
    bottom: 200px; /* 距離底部 200px */
    font-size: 24px;
}

.Update.record summary { /* 首頁更新紀錄框 */
    cursor: pointer;
    font-weight: bold;
}

.newsletter{ /* 首頁訂閱信 */
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    place-items: center;
    flex-direction: column;
    font-size: 20px;
    padding: 10px;
}

.newsletter p {
    margin-bottom: 10px;
    padding: 0;
}

.newsletter input, .newsletter button {
    color: white;
    background-color: transparent;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
}

.newsletter input {
    width: 200px;
    margin-right: 10px;
}

.newsletter button {
    width: 80px;
    cursor: pointer;
}

input::placeholder { 
    color: #ffffff; /* E-Mail輸入框的文字色彩 */
}

input:focus {
    outline: none; /* 移除輸入框邊線的預設顏色 */
    border-color: rgb(255, 255, 255); /* 指定輸入框邊線的顏色 */
}

.backgroundone {
    background: linear-gradient(90deg,rgba(250, 235, 215), rgba(250, 235, 215, 0.5),rgba(250, 235, 215, 1));
    background-size: contain;
    background-position: center;
    border: 5px white solid;
    padding: 2px 50px 10px;
    margin: 0;
    color: rgb(0, 48, 204);
}

.backgroundone li {
    margin-bottom: 10px;
    font-size: 20px;
}

.backgroundone h2 {
    margin-bottom: 10px;
}

.backgroundtwo {
    background-image: url(Images/D\ com.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px white solid;
    padding: 2px 20px;
    margin: 2px 5px;
    color: rgb(63, 86, 150);
    padding-left: 50px; /* 內文縮排 */
}

.backgroundtwo li {
    font-size: 20px;
}

.hrone {
    height: 1px;
    background-color: gray;
    border-color: gray;
    margin: 5px 0 2px;
}

.program {
    margin: 0 1000px 0 10px;
}

.program h3 {
    padding: 0;
    margin: 0;
}

footer { /*FOOTER*/
    background-color: black;
    color: rgb(160, 160, 160);
    padding-left: 20px;
}

/* 響應式設計語法(my screen is 2505px) */
/* Huge size (Larger screen) */
@media screen and (max-width: 2504px) {
    .content h2 {
        font-size: 45px;
    }
    
    .content h3 {
        font-size: 22.5px;
    }

    .program {
        margin: 0 900px 0 10px;
    }

    .newsletter p, article {
        padding: 0;
    }
}

/* Desktops */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .content h2 {
        font-size: 27.6px;
    }
    
    .content h3 {
        font-size: 13.8px;
    }

    .Update.record p {
        padding: 0;
    }

    .newsletter p, article {
        padding: 0;
    }

    .program {
        margin: 0 200px 0 10px;
    }
}

/* 平板裝置 */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    p {
        font-size: 13px;
    }

    .content h2 {
        font-size: 21.5px;
    }
    
    .content h3 {
        font-size: 11px;
    }

    .Update.record h3 {
        font-size: 21.5px;
    }

    .Update.record {
        font-size: 21.5px;
        padding: 0;
    }

    .newsletter p, article {
        font-size: 13px;
    }

    .program {
        margin: 0 30px 0 10px;
    }
}

/* 手機裝置 */
@media screen and (max-width: 480px) {
    h2 {
        font-size: 12px; /* 原值24px */
        margin: 2px 0 5px;
    }

    h3 {
        font-size: 11px; /* 原值18.7px */
        margin: 5px 0px 2px;
    }

    article {
        font-size: 11px;
        padding: 0;
    }

    p {
        font-size: 11px;
    }

    img {
        height: auto; /* 高度自動按比例縮放 */
        margin-bottom: 2px; /* 添加底部間距 */
        padding: 2px; /* 添加內邊距 */
    }

    footer {
        font-size: 11px;
        padding: 0;
    }

    .statement.one h2 {
        font-size: 12px;
    }
    
    .statement.two h3 {
        font-size: 8px;
    }

    .Update.record h3 {
        font-size: 11px;
    }

    .Update.record {
        font-size: 12px;
        padding: 0;
    }
    
    .newsletter p {
        font-size: 11px;
    }
    
    .newsletter input, .newsletter button {
        padding: 1px;
    }
    
    .newsletter input {
        font-size: 11px;
        width: 150px;
        margin: 0;
    }
    
    .newsletter button {
        font-size: 11px;
        width: 60px;
    }
   
    .backgroundone li, .backgroundone p {
        font-size: 11px;
    }

    .backgroundtwo {
        border: 1px white solid;
        padding: 2px 5px;
        margin: 1px 2px;
        padding-left: 20px; /* 內文縮排 */
    }

    .backgroundtwo li, .backgroundtwo p {
        font-size: 11px;
    }

    .program {
        font-size: 9px;
        margin: 0 30px 0 10px;
    }
}